html,
body,
root {
  height: 100%;
  width: 100%;
}
.navbar {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  align-items: stretch;
  border-bottom: 1px solid gray;
}
.navbar-item {
  margin-right: 20px;
  padding: 10px;
  font-size: 20px;
}
.navbar-item:last-child {
  margin-right: 5%;
  background-color: rgb(74, 165, 245);
}
.navbar-item:hover{
  cursor: pointer;
  color: rgb(74, 165, 245);
}